#elementId {
	overflow-y: hidden;
	overflow-x: hidden;
	/*min-height: 700px;*/
	/*min-width: 265px;*/
	/*     background:#35477d; */
	background-image: -ms-linear-gradient(top, #0489B1 0%, #0B4C5F 50%) !important;
	background-image: -moz-linear-gradient(top, #0489B1 0%, #0B4C5F 50%) !important;
	background-image: -o-linear-gradient(top, #0489B1 0%, #0B4C5F 50%) !important;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0489B1), color-stop(50, #0B4C5F)) !important;
	background-image: -webkit-linear-gradient(top, #0489B1 0%, #0B4C5F 50%) !important;
	background-image: linear-gradient(to bottom, #0489B1 0%, #0B4C5F 50%) !important;
	height: calc(100vh - 100px) !important;
}

.maxContent {
	max-height: calc(100vh - 100px);
	/* max-height: 700px; */
	overflow-y: auto;
}

.row {
	margin-right: 0;
	margin-left: 0 !important;
}

.sideClass{
	transition: 0.5s;
}

.openSide{
	max-width: 265px;
	min-width: 265px;
}
.closeSide{
	max-width: 55px;
	min-width: 55px;
}

.custom-background{
    height: calc(100vh - 75px);
    /* top: -16px; */
    margin-top: 0px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: '#FFF';
}