.form-user-ap{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    display: flex;
    width: 70%;
    justify-content: space-between;
    padding: 0 20px;
}

.nota-ap{
    font-size: 16px;
    padding: 10px;
    text-align: center;
}

.button-ap{
    display: flex;
    justify-content: center;
}


.button{
    margin-top: 5px;
    width: auto;
    font-weight: 600;
}

.welcome-mesaage{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title1-welcome{
    font-size: 32px;
    font-weight: 500;
    text-align: center;
}

.title12-welcome{
    font-size: 30px;
    text-align: center;
}

.title2-welcome{
    font-size: 22px;
    text-align: center;
}

.margin-bottom{
    margin-bottom: 60px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instruction{
    width: 50%;
    text-align: center;
    padding:10px;
}

.containerForm{
    width: 100%;
    display: flex;
    justify-content: center;
}
.form-user-ap-form{
    display: flex;
    width: 70%;
    justify-content: center;

}

.obsDoc{
    width: 100%;
      height: 80px;
      font-size: 13px;
      border: 1px solid #c5cae9;
      resize: none;
      outline: none;
      padding-bottom: 1.25em;
      margin-bottom: 20px;
}


.lineSeparator{
    width: 100%;
}

.input-size{
    width: 100% !important;
}

.widthTd{
    width: 300px !important;
    padding:0 10px;
    display: flex;
    align-items: flex-end;
}

.section-userAP{
    width: 100%;
    font-size: 18px;
    color: #17202A;
    font-weight: 600;
    border-bottom: 2px solid #257aa9;
}

.containerFormImportes{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
}

.titleEstatus{
    font-size: 1rem !important;
    margin: 0 !important;
    color: #909090;
}

.divTitle{
    display: flex;
    flex-direction: column;
}

.titleListTablesSolic{
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}

.actions-button{
    display: flex;
}

.obsText{
    width: 100% !important;
    display: flex;
    flex-direction: column !important;
    align-items: flex-start !important;
  }

  .textArea-comment{
    width: 100%;
      height: 100px;
      font-size: 13px;
      border: 1px solid #c5cae9;
      resize: none;
      outline: none;
      padding-bottom: 1.25em;

  }

@media only screen and (max-width: 1900px) {
    .instruction{
        width: 50%;
        text-align: center;
        padding:10px;
    }
    .button-ap{
        display: flex;
        justify-content: center;
    }
}
@media only screen and (max-width: 1200px) {
    .instruction{
        width: 100%;
        text-align: center;
        padding:10px;
    }
    .button-ap{
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
    }
}
@media only screen and (max-width: 1024px) {
    .instruction{
        width: 100%;
        text-align: center;
        padding:10px;
    }
    .button-ap{
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
    }
}

@media only screen and (max-width: 900px) {
    .instruction{
        width: 100%;
        text-align: center;
        padding:10px;
    }
    .button-ap{
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
    }
    .form-user-ap-form{
        width: 100%;
    }
    .form-user-ap{
        width: 100%;
        justify-content: space-between;
    }
}
@media only screen and (max-width: 768px) {
    .instruction{
        width: 100%;
        text-align: center;
        padding:10px;
    }
    .button-ap{
        display: flex;
        justify-content: center;
        margin-bottom: 150px;
    }
    .form-user-ap-form{
        width: 100%;
    }
    .form-user-ap{
        width: 100%;
        justify-content: space-between;
    }
}
@media only screen and (max-width: 600px) {
    .instruction{
        width: 100%;
        text-align: center;
        padding:10px;
    }
    .button-ap{
        display: flex;
        justify-content: center;
        margin-bottom: 150px;
    }
    .title1-welcome{
        font-size: 24px;
        font-weight: 500;
        text-align: center;
    }

    .title12-welcome{
        font-size: 20px;
        text-align: center;
    }

    .title2-welcome{
        font-size: 14px;
        text-align: center;
    }
    .form-user-ap-form{
        width: 100%;
    }
    .form-user-ap{
        width: 100%;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    .actions-button{
        flex-wrap: wrap;
    }
    .button{
        width: 100%;
    }
}
@media only screen and (max-width: 480px) {
    .instruction{
        width: 100%;
        text-align: center;
        padding:10px;
    }
    .button-ap{
        display: flex;
        justify-content: center;
        margin-bottom: 150px;
    }
    .title1-welcome{
        font-size: 22px;
        font-weight: 500;
        text-align: center;
    }

    .title12-welcome{
        font-size: 18px;
        text-align: center;
    }

    .title2-welcome{
        font-size: 12px;
        text-align: center;
    }
    .form-user-ap-form{
        width: 100%;
    }
    .form-user-ap{
        width: 100%;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    .actions-button{
        flex-wrap: wrap;
    }
    .button{
        width: 100%;
    }
}
@media only screen and (max-width: 320px) {
    .instruction{
        width: 100%;
        text-align: center;
        padding:10px;
    }
    .button-ap{
        display: flex;
        justify-content: center;
        margin-bottom: 150px;
    }
    .title1-welcome{
        font-size: 22px;
        font-weight: 500;
        text-align: center;
    }

    .title12-welcome{
        font-size: 18px;
        text-align: center;
    }

    .title2-welcome{
        font-size: 12px;
        text-align: center;
    }
    .form-user-ap-form{
        width: 100%;
    }
    .form-user-ap{
        width: 100%;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    .actions-button{
        flex-wrap: wrap;
    }
    .button{
        width: 100%;
    }
}






