<div class="margin-bottom" *ngIf="code == 0">

  <div class="form-user-ap">
    <label class="titleListTables">Recuperación de contraseña</label>
    <label class="nota-ap">Instrucciones: </label>
    <label class="nota-ap instruction">Para recuperar su contraseña por favor proporcione la siguiente
      información.</label>
  </div>

  <div class="containerForm">
    <div class="form-user-ap-form">
      <app-recover-pwd [recoveryForm]="recoveryForm" [code]="code"></app-recover-pwd>
    </div>
  </div>

  <div class="button-ap" style="gap: 4px">
    <a type="button" mat-raised-button color="danger" routerLink="/login">CANCELAR</a>
    <button type="button" mat-raised-button color="primary" (click)="guardar()" [disabled]="!hasEmailAndRfc">GUARDAR</button>
  </div>

</div>




<div class="margin-bottom" *ngIf="code != 0">

  <div class="form-user-ap">
    <label class="titleListTables">Recuperación de contraseña</label>
    <label class="nota-ap">Instrucciones: </label>
    <label class="nota-ap instruction">Favor llenar los campos de contraseña y confirmarla nuevamente, asegurate de
      conservarla en un lugar donde la puedas recordar.</label>
  </div>

  <div class="containerForm">
    <div class="form-user-ap-form">
      <app-recover-pwd [recoveryForm]="recoveryForm" [code]="code"></app-recover-pwd>
    </div>
  </div>

  <div class="button-ap">
    <!-- <button type="button" class="btn btn-info button" (click)="end()"
              [innerText]='"Cancelar"' [style.background-color]="'#C0392B'" [style.margin-right]="'5px'"></button> -->
    <button type="button" mat-raised-button color="primary" (click)="resetPwd()" [disabled]="!isPasswordValid">
      GUARDAR
    </button>
  </div>

</div>
