<!DOCTYPE html>
  <nav class="navbar fixed-bottom navbar-ligth justify-content-between navbarFooterCustom">
  <div class="footerInfo">
    <label class="text-color fontSizeFoot">Aristóteles 77 Desp. 104, Col. Polanco Reforma, C.P. 11550, Alcaldía Miguel Hidalgo, CDMX.</label>
    <label class="text-color fontSizeFoot"> Aseguradora patrimonial Vida S.A. de C.V. con nombre comercial Seguros patrimonial, totalmente protegido - © Todos los Derechos Reservados 2023 -</label>
  </div>
  <div>
    <a href="../assets/document/6 AVISO_DE_PRIVACIDAD_PAGINA 2023.pdf" download="Aviso-De-Privacidad" target="_blank" class="navbar-brand fontSizeFoot" [style.color]="'#ac9c09'">Aviso de Privacidad</a>
   <a href="http://apvida.mx/documentos/DerechosBasicosAseg.pdf" target="_blank" [style.padding-left]="'5px'"  class="navbar-brand fontSizeFoot" [style.color]="'#ac9c09'">Derechos de Asegurados</a>
  </div>
</nav>
