<mat-divider></mat-divider>
<section style="display: flex; justify-content: space-between; align-items: center; padding-left: 24px;">
  <mat-form-field>
    <mat-label>Filtrar</mat-label>
    <input type="search" matInput #filterInput (keyup)="filterAdminUnit(filterInput.value)" name="filter" style="width: 400px">
  </mat-form-field>
  <button mat-stroked-button color="primary" (click)="openAdminUnitModal()" style="height: 40px;">
    <mat-icon>add_circle</mat-icon>
    Agregar unidad administrativa
  </button>
</section>
<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element">{{ element.idUnidadAdministrativa }} </td>
  </ng-container>
  <ng-container matColumnDef="adminUnit">
    <th mat-header-cell *matHeaderCellDef>Unidad administrativa</th>
    <td mat-cell *matCellDef="let element">{{ element.descripcion }}</td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Acciones</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="updateAdminUnit(element)">
        <i class="fa fa-solid fa-pen"></i>
      </button>
      <button mat-icon-button (click)="deleteAdminUnit(element)">
        <i class="fa fa-solid fa-circle-xmark"></i>
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="['id', 'adminUnit', 'action']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['id', 'adminUnit', 'action']"></tr>
</table>
