
<div class="main-ap custom-background" [style.background-image]="'url('+apvidaBackground+')'">

  <div class="body-admin">

    <p class="titleAdmin2">{{isComercial ? 'Ejecutivo de atención' : isSiniestros ? 'Coordinador' : isContabilidad ? 'Actuaría' : ''}}</p>

    <!-- <p class="titleAdmin2">Búsqueda de empleados</p> -->
      <div class="container ">
        <div class="text-center mb-3 mt-3">
          <div class="row g-3 align-items-center">
            <div class="col-2">
              <label for="inputPassword6" class="col-form-label">Nombre</label>
            </div>
            <div class="col-10">
              <input class="form-control" type="text" name="nombre" id="nombre" placeholder="Nombre" [(ngModel)]='user.nombre'>
            </div>
            <div class="col-2">
              <label for="inputPassword6" class="col-form-label">RFC</label>
            </div>
            <div class="col-10">
              <input class="form-control" type="text" placeholder="RFC" name="rfc" [(ngModel)]='user.rfc' >
            </div>
            <div class="col-2">
              <label for="inputPassword6" class="col-form-label">Dependencia</label>
            </div>
            <div class="col-10">
              <select class="form-select form-select-sm" aria-label=".form-select-sm example" #mySelectedDependencies (click)="getDep(mySelectedDependencies.value)">
                <option selected value="" > - Seleccionar un opción  - </option>
                <option  *ngFor="let dependency of dependencias" [value]="dependency.descripcionCatalogo"
                > {{ dependency.descripcionCatalogo }} </option>
              </select>
            </div>
          </div>
          <button class="btn btn-busqueda mt-3" type="button" (click)="filter()" ><strong class="me-1" >Buscar</strong><i class="fa fa-solid fa-magnifying-glass"></i> </button>
        </div>
      </div>
      <div class="row mt-5" >
        <div class="col-8">
          <button class="btn border border-dark border-bottom-0" (click)="back('asegurado')">
            <i class="fa fa-pencil-square me-1" aria-hidden="true"></i>
              <span>Asegurados</span>
          </button>
          <div *ngIf="isComercial!" >
            <button class="btn border border-dark border-bottom-0" [class.btn-light]="classRutaBtn === 'dashboard-analista'"  (click)="back('mySolicitud')">
              <i class="fa fa-pencil-square me-1" aria-hidden="true"></i>
                <span>Mis Solicitudes</span>
            </button>
          </div>
          <button class="btn border border-dark border-bottom-0" [class.btn-light]="classRutaBtn === 'dashboard-analista'"  (click)="back('solicitudes')">
            <i class="fa fa-pencil-square me-1" aria-hidden="true"></i>
              <span>Todas las Solicitudes</span>
          </button>
          <button class="btn btn-paginador border-bottom-0" [class.btn-light]="classRutaBtn === 'dashboard-analista'">
            <i class="fa fa-pencil-square me-1" aria-hidden="true"></i>
              <span>Analistas</span>
          </button>
          <button *ngIf="!isContabilidad" class="btn border border-dark border-bottom-0" [class.btn-light]="classRutaBtn === 'dashboard-analista'" (click)="back('aclaraciones')">
            <i class="fa fa-pencil-square me-1" aria-hidden="true"></i>
            <span>Aclaraciones</span>
          </button>
        </div>
        <div class="col-4 justify-content-end"  [style.display]="'flex'" >
          <!-- <button class="btn btn-light rounded " (click)="findRFC()">
            <i class="fa fa-search" aria-hidden="true"></i>
              <span>Búsquedas de RFC</span>
          </button> -->
          <button class="btn btn-busqueda" (click)="descargaReporte()" [disabled]="exportUsuarios" >
            <i class="me-1 fa fa-cloud-download" aria-hidden="true"></i>
              <span>Exportar base</span>
          </button>
          <button class="btn btn-busqueda" (click)="aggAnalista()" >
            <i class="fa fa-solid fa-person-circle-plus"></i>
              <span> Nuevo Analista</span>
          </button>
        </div>
      </div>

      <div class="result-body">
        <!-- NEW TABLE-->
        <table  mat-table [dataSource]="dataSource" matSort (matSortChange)="filter()" class="mat-elevation-z8 mt-1" >
          <tr mat-header-row *matHeaderRowDef="[ 'Nombre','RFC', 'E-mail','N° Empleado','Sexo','Fecha de Alta','Estatus', 'Acciones']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['Nombre','RFC', 'E-mail','N° Empleado','Sexo','Fecha de Alta','Estatus', 'Acciones'];"  ></tr>
          <ng-container matColumnDef="Nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name" >NOMBRE</th>
            <td mat-cell *matCellDef="let element">{{element.nombre}} {{element.apellidoPaterno}} {{element.apellidoMaterno}} <td>
          </ng-container>
          <ng-container matColumnDef="RFC">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by rfc" >RFC</th>
            <td mat-cell *matCellDef="let element">{{element.rfc}} </td>
          </ng-container>
          <ng-container matColumnDef="E-mail">
            <th mat-header-cell *matHeaderCellDef >CORREO</th>
            <td mat-cell *matCellDef="let element">{{element.mail}} </td>
          </ng-container>
          <ng-container matColumnDef="N° Empleado">
            <th mat-header-cell *matHeaderCellDef ># DE EMPLEADO</th>
            <td mat-cell *matCellDef="let element">{{element.noEmpleado}}</td>
          </ng-container>
          <ng-container matColumnDef="Sexo">
            <th mat-header-cell *matHeaderCellDef>SEXO</th>
            <td mat-cell *matCellDef="let element">{{element.sexo}}</td>
          </ng-container>
          <ng-container matColumnDef="Fecha de Alta">
            <th mat-header-cell *matHeaderCellDef >FECHA DE ALTA</th>
            <td mat-cell *matCellDef="let element">{{element.fechaCreacion}}</td>
          </ng-container>
          <ng-container matColumnDef="Estatus">
            <th mat-header-cell *matHeaderCellDef >ESTATUS</th>
            <td mat-cell *matCellDef="let element">{{element.estatus == 1 ? 'ACTIVO' : 'INACTIVO'}}</td>
          </ng-container>
          <ng-container matColumnDef="Acciones">
            <th mat-header-cell *matHeaderCellDef >ACCIONES</th>
            <td mat-cell *matCellDef="let element">
              <button mat-button [matMenuTriggerFor]="userOptions">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #userOptions="matMenu">
                <i class="material-icons iconDashboardAp mt-1 animate__animated animate__heartBeat" (click)="changeEstatus(element, (element.estatus === 1 ? 0 : 1))" data-toggle="tooltip" data-placement="top" [title]="element.estatus === 1 ? 'Deshabilitar usuario' : 'Habilitar usuario'" >
                  {{element.estatus === 1 ? 'person' : 'person_off'}}
                </i> <span class="mb-5">Cambiar Status</span> <br>
              </mat-menu>
            </td>
          </ng-container>
        </table>
        <mat-paginator class="h-50" [class.visually-hidden]="empleados.length == 0"  pageSize="5" [pageSizeOptions]="[5, 10, 20, 50]"></mat-paginator>
        <section style="display: flex; flex-direction: column; align-items: center; opacity: 0.7; padding: 16px;" *ngIf="empleados.length == 0">
          <h2>Aquí serán mostrados los analistas consultados</h2>
        </section>
      </div>
  </div>
</div>
