.mat-mdc-dialog-title {
  align-items: center;
  background: #28a745;
  color: #eee;
  display: flex;
  padding: 12px;
}
.mat-mdc-dialog-title mat-icon {
  margin-right: 8px;
}

.mat-mdc-dialog-actions {
  justify-content: center;
}

