<div class="row">
  <label class="titleListTables">
    {{title}}
  </label>
</div>
<div class="p-4-custom">
  <div class="mat-elevation-z8">
    <table class="table tableForm">
      <tr>
        <td>
          <app-required-optional-input-text [val]="user.usuario" [inputProps]="nombreUsuario"
            (value)="getVal($event,'usuario')" [requiredInput]="true" >
          </app-required-optional-input-text>
        </td>

        <td>
          <app-required-optional-input-text [val]="user.pwd" [inputProps]="password" (value)="getVal($event,'pwd')"
            [requiredInput]="true">
          </app-required-optional-input-text>
        </td>

        <td >
          <app-required-optional-input-text [val]="user.pwdConf" [inputProps]="passwordConfirm" (value)="getPasswordConfirm($event)"
            [requiredInput]="true">
          </app-required-optional-input-text>
        </td>
      </tr>
      <tr *appHideShow="showRoles">
        <td>
          <br>
          <div>
            <app-select-component [options]='options' [menuName]='menuName' [currentOption]='currentOption'
              [disabled]='disabled' (selectedOption)='getOption($event,"rol")'></app-select-component>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <div class="row divOptionBtnFooterForm">
            <app-div-error-message class="col-lg-12" [enableDiv]="form.disableDiv" [message]="form.messageError">
            </app-div-error-message>
          </div>
        </td>
      </tr>
    </table>
    <mat-divider class="matDividerCustom"></mat-divider>
    <div class="row divOptionBtnFooterForm" *appHideShow='!hideCreateButton'>
      <div class="col-lg-6">
        <button type="button" (click)='doTask()' [appChangeButton]='btnOptions' class="btn btn-primary"></button>
      </div>
    </div>
  </div>
</div>
