.custom-background{
    min-height: calc(100vh - 100px);
    /*min-height: 640px;*/
    /* top: -16px; */
    margin-top: 0px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: '#FFF';
    display: flex;
    justify-content: center;
}

.body-admin{
    width: 75%;
    min-height: 200px;
    border-radius: 10px;
    background-color: #FFFFFF;
    margin: 30px 0 60px 0px;
    box-shadow: -1px 0px 8px 2px #ccc;
    padding: 10px;
}

.containerForm{
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

.widthTd{
    margin: 0 10px;
}

.titleAdmin2{
    font-size: 18px;
    margin: 0;
    font-weight: 600;
}

.btn-busqueda{
    color: #FFF;
    background-color: #257aa9;
    border-radius: 10px !important;
}

.btn-busqueda:hover{
    color: #FFF;
    background-color: #2e5fad;
}

.titleAdmin{
    font-size: 18px;
    margin: 0;
    font-weight: 600;
    border-top: 1px solid #D5D8DC;
    border-left: 1px solid #D5D8DC;
    border-right: 1px solid #D5D8DC;
    padding: 5px 10px;
    cursor: pointer;
}

.titleAdmin-selected{
    font-size: 18px;
    margin: 0;
    font-weight: 600;
    border: 1px solid #257aa9;
    padding: 5px 10px;
    color: #FFF;
    background-color: #257aa9;
    cursor: pointer;
}

.button-div{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100px;
}

.btn-busqueda{
    color: #FFF;
    background-color: #257aa9;
    border-radius: 10px !important;
}

.btn-busqueda:hover{
    color: #FFF;
    background-color: #2e5fad;
}

.btn-paginador{
    color: #FFF;
    background-color: #257aa9;
    border-color: black;
}


.result-body{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 0 20px 0;
    border-top: 1px solid #D5D8DC;
    border-left: 1px solid #D5D8DC;
    border-right: 1px solid #D5D8DC;
    overflow-x: scroll;
}

.header-table{
    display: flex;
    margin: 0 10px;
    min-width: 1000px;
}

.head-td{
    width: calc((100% - 235px) / 6);
    display: flex;
    align-items: flex-end;
    line-height: 18px;
    font-weight: 600;
    margin: 20px 0px 0 0px;
    border-bottom: 1px solid #257aa9;
    padding-bottom: 5px;
    font-size: 12px;
}

.row1{
    background-color: #D6EAF8;
}
.row2{
    background-color: #FFFFFF;
}

.body-table{
    display: flex;
    margin: 0 10px;
    min-width: 1000px;
}

.body-td{
    width: calc((100% - 235px) / 6);
    display: flex;
    line-height: 18px;
    min-height: 30px;
    align-items: center;
    font-size: 12px;
}

.button{
    width: 30px;
}

.iconDashboardAp{
    font-size: 20px;
    color: #257aa9;
    cursor: pointer;
}

.export-title{
    margin-top: 20px;
}

.button-export{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    background-color:#257aa9;
    color: #FFF;
    padding: 3px 10px;
    cursor: pointer;
}

.export-title2{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.iconExport{
    margin-right: 5px;
    font-size: 30px;
    color: #FFF;
    cursor: pointer;
}


.botones-busqueda{
    display: flex;
}

.containerTabs-title{
    display: flex;
}


.botones-accion{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}


/* 320px
480px
600px
768px
900px
1024px
1200px */
@media only screen and (max-width: 1900px) {
    .result-body{
        overflow-x: scroll;
    }
    .botones-accion{
        justify-content: flex-end;
    }
    .button-export{
        margin-left: 5px;
    }
}
@media only screen and (max-width: 1280px) {
    .result-body{
        overflow-x: scroll;
    }
    .botones-accion{
        justify-content: flex-end;
    }
    .button-export{
        margin-left: 5px;
    }
}
@media only screen and (max-width: 1024px) {
    .result-body{
        overflow-x: scroll;
    }
    .botones-accion{
        justify-content: flex-end;
    }
    .button-export{
        margin-left: 5px;
    }
}

@media only screen and (max-width: 900px) {
    .result-body{
        overflow-x: scroll;
    }
    .titleAdmin, .titleAdmin2, .titleAdmin-selected{
        font-size: 16px;
    }
    .button-export{
        font-size: 16px;
    }
    .botones-accion{
        justify-content: space-between;
    }
}
@media only screen and (max-width: 768px) {
    .result-body{
        overflow-x: scroll;
    }
    .titleAdmin, .titleAdmin2, .titleAdmin-selected{
        font-size: 14px;
    }
    .button-export{
        font-size: 14px;
        width: 100%;
        margin-bottom: 5px;
    }
    .botones-accion{
        justify-content: space-between;
    }
}
@media only screen and (max-width: 600px) {
    .result-body{
        overflow-x: scroll;
    }
    .titleAdmin, .titleAdmin2, .titleAdmin-selected{
        font-size: 14px;
    }
    .button-export{
        font-size: 14px;
        width: 100%;
        margin-bottom: 5px;
    }
    .botones-accion{
        justify-content: space-between;
    }
}
@media only screen and (max-width: 480px) {
    .result-body{
        overflow-x: scroll;
    }
    .titleAdmin, .titleAdmin2, .titleAdmin-selected{
        font-size: 14px;
    }
    .button-export{
        font-size: 14px;
        width: 100%;
        margin-bottom: 5px;
    }
    .botones-accion{
        justify-content: space-between;
    }
}
@media only screen and (max-width: 320px) {
    .result-body{
        overflow-x: scroll;
    }
    .titleAdmin, .titleAdmin2, .titleAdmin-selected{
        font-size: 14px;
    }
    .button-export{
        font-size: 14px;
        width: 100%;
        margin-bottom: 5px;
    }
    .botones-accion{
        justify-content: space-between;
    }
}
